<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout/layout}">
<head>
    <meta charset="UTF-8">
</head>

<th:block layout:fragment="css"> </th:block>
<th:block layout:fragment="script"> </th:block>

<div id="content" layout:fragment="content">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">회원 관리</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <span>회원 관리</span>
        </div>
        <div class="card-body row">
            <div style="width: 100%;">
                <div style="margin-top:15px; text-align:right; margin-right:12px;">
                    <button id="excel_btn" class="btn btn-primary" style="width: 160px;">엑셀 다운로드</button>
                </div>
            </div>
            <div class="list_search_region">
                <p>
                <form id="search-form" action="{% url 'user_list' %}" method="get">
                    <select id="search_platform" name="search_platform" class="form-control list_search_element">
                        <option disabled selected >가입수단 선택</option>

                        <option value="" >전체보기</option>
                        {% if request.GET.search_platform == "E" %}
                        <option value="E" selected >이메일</option>
                        {% else %}
                        <option value="E" >이메일</option>
                        {% endif %}

                        {% if request.GET.search_platform == "K" %}
                        <option value="K" selected >카카오</option>
                        {% else %}
                        <option value="K" >카카오</option>
                        {% endif %}

                        {% if request.GET.search_platform == "N" %}
                        <option value="N" selected >네이버</option>
                        {% else %}
                        <option value="N" >네이버</option>
                        {% endif %}
                    </select>

                    <select id="search_is_agree_marketing" name="search_is_agree_marketing" class="form-control list_search_element">
                        <option disabled selected >마케팅 수신동의</option>

                        <option value="" >전체</option>


                    </select>

                    <input name="search_nickname" class="form-control list_search_element" placeholder="닉네임 입력" value="{{ request.GET.search_nickname }}">

                    <input name="search_email" class="form-control list_search_element" placeholder="이메일 입력" value="{{ request.GET.search_email }}">
                    <input id="search_date_filter" name="search_date_filter" class="form-control list_search_element" style="width:260px" placeholder="날짜 선택">
                    <div style="margin-top:15px; text-align:right;">
                        <button id="btn-search" type="submit" class="btn btn-primary" style="width:120px;">
                            검색</button>
                    </div>

                </form>

                </p>
            </div>

            <div class="table-responsive list-table-region">
                <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th> 가입수단 </th>
                        <th> 닉네임 </th>
                        <th> 가입 이메일 </th>
                        <th> 레터수신용 메일 </th>
                        <th> 마케팅 수신동의 </th>
                        <th> 가입 일시 </th>
                        <th> 설정 </th>
                    </tr>
                    </thead>

                    <tbody id="table_user_list">

                    {% for user in repairuser_list %}
                    <tr>
                        <td> {{ user.id }}</td>
                        <td>
                            {% if user.login_type == 'K' %}
                            카카오
                            {% elif user.login_type == 'N' %}
                            네이버
                            {% else %}
                            이메일
                            {% endif %}
                        </td>
                        <td> {{ user.nick_name }}</td>
                        <td> {{ user.email }}</td>
                        <td>
                            {% if user.letter_email %}
                            {{ user.letter_email }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_agree_marketing %}
                            Y
                            {% else %}
                            N
                            {% endif %}
                        </td>
                        <td> {{ user.created_date|date:"Y-m-d H:i:s" }} </td>
                        <td> <a class="btn btn-primary btn-block" href="{% url 'user_detail' user.id %}?{% query_string request %}">자세히 보기</a> </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer small text-muted"></div>
    </div>
</div>

</html>

<!--<script src="{% static 'js/common.js' %}"></script>-->
<script>


</script>

